{% extends 'Base.html' %}
{% load humanize %}

{% block content %}
   
  <section class="h-100 h-custom w-75 mx-auto bg-transparent" style="background-color: #eee;">
  <div class="container h-100 py-5 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card shopping-cart" style="border-radius: 15px;">
          <div class="card-body text-black">

            <div class="row">
              <div class="col-lg-6 px-5 py-4">
                {% if messages %}
                {% for message in messages%}
                <div class="alert alert-danger">
                  {{message}}
                </div>
                {%endfor%}
                {%endif%}
                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your Cart</h3>
                {% for cartitem in cart.cartitem_set.all %}
                
                <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                    <img src="{{ cartitem.product.image.url }}"
                      class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    
                    <h5 class="text-primary">{{ cartitem.product.name }}</h5>
                    <h6 style="color: #9e9e9e;">Category : {{ cartitem.product.category.name }}: </h6>
                    <div class="d-flex align-items-center">
                      <p class="fw-bold mb-0 me-5 pe-3">{{ cartitem.product.price |intcomma }}</p>
                      <form method="post" action="{% url 'updatcart' cartitem.id %}">
                        {% csrf_token %}
                      <div class="def-number-input number-input safari_only">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="btn btn-primary m-1">
                          <i class="fa-solid fa-minus"></i></button>
                        <input class="quantity fw-bold text-black rounded" min="0" name="quantity" value="{{ cartitem.quantity }}"
                          type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn btn-primary m-1">
                          <i class="fa-solid fa-plus"></i></button>
                      </form>
                      <form method="post" action="{% url 'deletefromcart' cartitem.id %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="fas fa-times btn btn-danger">
                                </form>
                      </div>
                    </div>
                  </div>
                </div>
              
                {% endfor %}
                
                <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

                <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                  <h5 class="fw-bold mb-0">Total:</h5>
                  <h5 class="fw-bold mb-0">{{ totalprice|intcomma }}$</h5>
                </div>

              </div>
            
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
                    {% for cartitem in cart.cartitem_set.all %}
                        <input type="hidden" name="{{ cartitem.product.name }}" value="{{ cartitem.id }}">
                    {% endfor %}
                </div>
                <button type="submit" id="orderbtn" class="btn btn-primary mb-4 btn-lg pl-5 pr-5 w-25 mx-auto">Order</button>
            </form>
        </div>
        <form method="post" action="{% url 'ordercreate' %}" class="form-control w-75 mx-auto">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label>Choose your province : </label>
                    </div>
                    <div class="col">
                        <select name="orderprovince" required class="form-select" style="width: fit-content" id="orderprovince">
                            <option value="" selected>---------</option>
                            {{province}}
                            {% for Province in province %}
                                <option value="{{ Province.id }}">{{ Province.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <label>Address : </label>
                        </div>
                        <textarea name="orderaddress" class="form-control  w-75"></textarea>
                    </div>
                    {% for cartitem in cart.cartitem_set.all %}
                        <input type="hidden" name="{{ cartitem.product.name }}" value="{{ cartitem.id }}">
                    {% endfor %}
                </div>
                <button type="submit" id="orderbtn" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Order</button>
            </form>
        </div>

</section>






 
{% endblock %}