{% extends 'Base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">{{ order.user.first_name }} &nbsp {{ order.user.last_name }}</div>
            <div class="col">{{ order.user.phone_no }} {{ order.city }}</div>
        </div>
        {% for orderitem in order.orderitem_set.all %}

            <div class="row">
                <div class="col">{{ orderitem.product.name }} {{ orderitem.quantity }} Gram</div>
            </div>
        {% endfor %}
    <form method="post">
        {% csrf_token %}
        Your order has been sent
        {{ form.is_send }}<br>
        <button type="submit" class="btn btn-success">ثبت</button>
    </form>

    </div>
{% endblock %}